<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Recipe Dashboard</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">View<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Upload</a>
      </li>
    </ul>
    <!--TODO: Add a submit event and on keyup event for handleSearch()  -->
    <form class="form-inline my-2 my-lg-0">
      <input
        #searchBox
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for something delicious"
        aria-label="search"
        (keyup)="handleSearch(searchBox.value)"
        list="search">
        <datalist id="search">
          <option
            *ngFor="let recipe of recipes$ | async"
            value="{{recipe.title}}"
            >
            {{recipe.title}}
          </option>
        </datalist>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <button
        class="btn btn-primary btn-margin my-2 my-sm-0"
        *ngIf="authService.authenticated"
        (click)="authService.logout()"
        type="button"
        routerLink="/home">
          Logout
      </button>
    </form>
    <h1 (click)="changeRecipe($event)">Test1</h1>
  </div>
</nav>
