<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="navbar-brand" href="/home">Recipe Dashboard</div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!--TODO: Add a submit event and on keyup event for handleSearch()  -->
    <form class="form-inline my-2 my-lg-0">
      <input
        #searchBox
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search for something delicious"
        aria-label="search"
        (keyup)="handleSearch(searchBox.value)"
        list="search">
      <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      <button
        class="btn btn-primary btn-margin my-2 my-sm-0"
        *ngIf="authService.authenticated"
        (click)="authService.logout()"
        type="button"
        routerLink="/home">
          Logout
      </button>
    </form>
  </div>
</nav>

<!-- TODO: populate only have this appear if there are items -->
<div class="list-group">
  <div *ngFor="let recipe of recipes$ | async">
    <button
      type="button"
      class="list-group-item list-group-item-action"
      (click)="changeRecipe(recipe)">
        {{recipe.title}}
    </button>
  </div>
</div>
