<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<div id="page-wrapper">
  <section class="banner">
    <h2>Saving your family legacy in one place with Angular 5!</h2>
    <button
      class="btn btn-primary btn-margin"
      *ngIf="!authService.authenticated"
      (click)="authService.login()">
        Login
    </button>

    <button
      class="btn btn-primary btn-margin"
      *ngIf="authService.authenticated"
      routerLink="/dashboard">
        Back to Inventory
    </button>
    <button
      class="btn btn-primary btn-margin"
      *ngIf="authService.authenticated"
      (click)="authService.logout()">
        Logout
    </button>
    <button
     class="btn btn-putline-primary btn-margin"
     (click)="open(content)">
       Meet the team
    </button>
  </section>
</div>
