<div class="container">
  <h1>Upload your recipe</h1>
  <form #uploadForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="recipe.title"
        name="title"
        #title="ngModel"
        required>
        <div
          [hidden]="title.valid || title.pristine"
          class="alert alert-danger">
            Title is required
        </div>
    </div>
    <div class="form-group">
      <label for="Photos">Photos<h5>Choose up to 4 images to upload (jpeg, png, and bmp format)</h5></label>
      <input
        type="file"
        class="form-control"
        accept=".jpeg, .png, .bmp"
        id="photos"
        (change)="handleFileInput($event.target.files)"
        multiple
        required>
    </div>
    <div class="form-group">
      <label for="Tags">Tags<h5>Choose up to 12 tags to label your recipe with</h5></label>
      <input
        type="text"
        class="form-control"
        id="tags"
        [(ngModel)]="tagInput"
        name="tags"
        #tag
        (keyup.enter)="handleTagInput()">
        <div class="tags" *ngIf="recipe.Tags.length !== 0">
          <div class="tag-button" *ngFor="let tag of recipe.Tags; index as i">
            <button class="btn btn-secondary" type="button">
              {{tag}}
            </button>
            <button type="button" class="close" aria-label="Close" (click)="handleTagDelete(i)">
              &times;
            </button>
        </div>
        </div>
        <button class="btn btn-primary" type="button" (click)="handleTagInput()">
          Add tag
        </button>
    </div>
    <button
      type="button"
      class="btn btn-success"
      [disabled]="!uploadForm.form.valid"
      (click)="onSubmit()">
      Submit
    </button>
    <button
      type="reset"
      class="btn btn-danger"
      (click)="onReset()">
      Reset
    </button>
  </form>
</div>
