<div class="container">
  <h1>Upload your recipe</h1>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required>
    </div>
    <div class="form-group">
      <label for="Photos">Photos</label>
      <input type="image" class="form-control" id="photos" required>
    </div>
    <div class="form-group">
      <label for="Tags">Tags</label>
      <input type="text" class="form-control" id="tags">
    </div>
    <div class="form-group">
      <label for="dtag">Preselected Tags</label>
      <select class="form-control" id="dtag" required>
        <option *ngFor="let tag of dTags" [value]="tag">{{tag}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
