<div class="modal fade" id="my-modal-fail" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modal-header-danger">
        <h4 class="modal-title">Warning!</h4>
      </div>
      <div class="modal-body">
        <p>Recipe photos and tags are required</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- <modal success> -->
<div class="modal fade" id="my-modal-success" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header modal-header-cool">
        <h4 class="modal-title">Successfully uploaded!</h4>
      </div>
      <div class="modal-body">
        <p>Time to cook!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
