<app-navbar></app-navbar>
<div class="list">
  <ul class="upload-recipe" (click)="uploadClick()">
    <li *ngIf="upload">Return home</li>
    <li *ngIf="!upload">Upload a new recipe</li>
  </ul>
  <ul class="list-recipe">
      <app-inventory
        [recipes]="recipes"
        (onRecipe)="recipeClick($event)">
      </app-inventory>
  </ul>

</div>
<div class="main-view">
  <div class="upload-recipe" *ngIf="upload">
    <app-upload></app-upload>
  </div>
  <div class="primary-recipe" *ngIf="!upload && selectedRecipe">
    <app-view [recipe]="selectedRecipe"></app-view>
  </div>
</div>
