<app-navbar></app-navbar>
<div class="list">
  <ul class="upload-recipe">
    <div>Upload a new recipe</div>
  </ul>
  <ul class="list-recipe">
      <app-inventory
        [recipes]="recipes"
        (onRecipe)="recipeClick($event)">
      </app-inventory>
  </ul>

</div>
<!-- TODO: Add NgIf here to toggle between the two different views -->
<div class="main-view">
  <div class="upload-recipe">
    <app-upload></app-upload>
  </div>
  <!-- TODO: NgIf Selected recipe and upload recipe is false  -->
  <div class="primary-recipe">
    <app-view [recipe]="selectedRecipe"></app-view>
  </div>
</div>
