<!--TODO: Place modal in the middle of the screen  -->
<div class="modal-content">
  <div class="modal-header modal-header-danger">
    <h4 class="modal-title">Warning!</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--TODO: Change this depending on what they are missing-->
    <p *ngIf="errorType === 'miss'">Recipe tag and photo are required</p>
    <p *ngIf="errorType === 'api'">There was an error on our end.  Please try again!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="activeModal.close('Close click')">
        Close
    </button>
  </div>
</div>
