<!--TODO: Place modal in the middle of the screen  -->
<div class="modal-content">
  <div class="modal-header modal-header-cool">
    <h4 class="modal-title">Recipe successfully uploaded!</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
    <p>Time to cook!</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
